@import '../../variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .page_text {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: $gold-text;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  a {
    color: $white-text;
    text-decoration: none;
  }

  button {
    align-self: flex-start;
  }

  .card_container {
    width: 100%;
  }

  .choose_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.75rem;
    padding: 1.5rem;
    background-color: rgb(19, 17, 17);
    border: 2px solid $red-color;
    border-radius: 5px;

    @media (max-width: 450px) {
      padding: 1rem;
      font-size: 1.5rem;
    }

    button {
      font-size: inherit;
    }
  }
}
