@import '../../variables.scss';

.scroll_btn {
  position: fixed;
  padding: 10px;
  border-top-left-radius: 10px;
  background-color: $red-color;
  border: 0;
  outline: 0;
  overflow: hidden;
  cursor: pointer;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.arrow_icon {
  width: 1.9rem;
  transform: rotate(90deg);
}
