@import '../../variables.scss';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  overflow: hidden;
  padding: 5px 15px;
  background-color: $red-color;
  color: $gold-text;
  margin-bottom: 1rem;
}

.button:disabled {
  background-color: rgb(46, 46, 46);
  cursor: auto;
}
