.textarea {
  min-height: 100px;
  padding: 10px;
  border: 1px solid #550f00;
  outline: 0;
  background-color: #550f00;
  color: #aa984c;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: vertical;
  font-size: 1.5rem;
}

.textarea:focus {
  border: 1px solid #aa984c;
}

.textarea::placeholder {
  color: #aa984c;
}

.buttons {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}
