@import '../../variables.scss';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  padding: 5px 15px;
  background-color: $red-color;
  color: $gold-text;
  margin-bottom: 1rem;
}

.icon {
  transform: rotate(180deg);
}
