.layout {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  padding: 0 30px;
  padding-bottom: 1.5rem;
}

.layout_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 7rem;
  margin: 1.5rem 0;
}
