@import '../../variables.scss';

.container {
  display: flex;
  flex-direction: column;

  .title {
    text-align: center;
    font-size: 1.5rem;
    color: $gold-text;
  }

  a {
    align-self: flex-end;
  }
}

.input_container {
  input {
    background-color: $red-color;
    color: $gold-text;
    width: 100%;
    padding: 5px 10px;
    font-size: 1.3rem;
    outline: none;
    border: 1px solid $red-color;
    margin-bottom: 1rem;
    border-radius: 5px;

    &:focus {
      border: 1px solid $gold-text;
    }

    &::placeholder {
      color: $gold-text;
    }
  }

  .first_input_element {
    margin-top: 1.5rem;
  }

  .last_input_element {
    margin-bottom: 1rem;
  }
}
