@import '../../variables.scss';

.container {
  text-align: center;

  .title {
    font-size: 1.5rem;
  }
}

.inputContainer {
  input {
    background-color: $white-text;
    color: $main-color;
    width: 20rem;
    padding: 5px 10px;
    font-size: 1.3rem;
    outline: none;
    margin-top: 1.5rem;
    border-radius: 5px;
  }

  .lastInputElement {
    margin-bottom: 1rem;
  }
}
